.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ul{
    color: white;
    cursor: pointer;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ul li {
    transition: scale 0.2s ease;
    margin: 2rem;
    background-color: red;
    list-style: none;
    padding: 1rem;
    border-radius: 5px;
    user-select: none;
}

.ul li:hover {
    scale: 1.1;
}