.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ul{
    color: black;
    cursor: pointer;
}

.ul li {
    transition: scale 0.2s ease;
    margin: 2rem;
    list-style: none;
    padding: 1rem;
    border-radius: 15px;
}

.ul li:hover {
    scale: 1.1;
}